.cart {
    padding: 20px;
  }
  
  .cart-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .cart-item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    width: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .cart-image {
    width: 100%;
    height: auto;
  }
  
  .cart-rating {
    color: #000;
  }
  
  .cart-item h3,
  .cart-item p {
    margin: 10px 0;
  }
  